{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 2,
    "useTabs": false,
    "printWidth": 80,
    "htmlWhitespaceSensitivity": "ignore",
    "overrides": [
      {
        "files": "*.ejs",
        "options": {
          "parser": "html"
        }
      },
      {
        "files": "*.js",
        "options": {
          "parser": "babel"
        }
      }
    ]
  }
  